$colors-main: #444444
$colors-links: #4964B3
$colors-error: #D10000
$colors-borders: #888888

body
  color: $colors-main
  font-family: Trebuchet MS

p
  line-height: 150%

a
  color: $colors-links
  text-decoration: none
  &:hover
    text-decoration: underline

img
  border: 1px solid $colors-borders
  padding: 1px

.content
  width: 960px
  margin: 50px auto

.header
  border-bottom: 1px dotted $colors-borders
  padding-bottom: 10px
  ul
    padding: 0
    margin: 0
    li
      display: inline
      padding-right: 10px
      
.body
  margin: 5px

form
  .input
    margin-bottom: 10px
    label
      width: 100px
      text-align: right
      padding-right: 5px
      display: inline-block
    input
      padding: 2px

  .button
    margin: 20px 182px

  .error
    color: $colors-error
    font-style: italic
    font-size: 13px


.followers
  li
    list-style: none
    height: 50px
    img
      float: left
      margin-right: 5px
    > div
      float: left
      .name
        font-size: 15px
        font-weight: bold
      .country
        font-size: 12px
        font-style: italic