%h1 New User

%form{ action:"/users", method:"post"}
  .input
    %label{ :for => "user_name" } Name
    %input#user_name{ :name => "user[name]", :type => "text", :value => "#{@user.name}" }
    - if @user.errors[:name]
      %span.error= @user.errors[:name].first 

  .input
    %label{ :for => "user_age" } Age
    %input#user_age{ :name => "user[age]", :type => "text", :value => "#{@user.age}" }
    - if @user.errors[:age]
      %span.error= @user.errors[:age].first 

  %input.button{ :type => 'submit', :value => 'Create User' }
