.profile
  %h2= @user.name

  %img{ :src => @user.image }
  %p= @user.about

  - if @user.followers.present?
    %h3 Followers:
    %ul.followers
      - @user.followers.each do |follower|
        %li
          %img{ :src => follower[:photo] }
          %div
            .name= follower[:name]
            .country= follower[:country]
